<h1 class="page-header">All Questions:</h1>


<%= render  "questions_list", layout: false %>

  <% if logged_in? %>
    <p class="button"><%= link_to 'Ask', new_question_path %></p>
  <% end %>

  <p class="button"><%= link_to "All Tags", tags_path %></p>
