  <div class="page-header"><h2 > All Tags: </h2></div>

  <% @tags.each do |tag| %>
    <div class="tags-container">
          <p><%= link_to tag.category, tag_path(tag.id) %></p>
    </div>
  <% end %>


