<h2 class="page-header">Results for the tag "<%= @tag.category %>":</h2>

<%= render  "questions/questions_list", layout: false %>

<div class="buttons">
  <% if logged_in? %>
    <%= button_to "Ask", new_question_path, method: :get, class: "button" %>
  <% end %>
  <%= button_to "All Tags", tags_path, method: :get, class: "button"  %>
</div>
