/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: white;
  font-family: Lato;
}

a { text-decoration: none; font-weight: bolder; }

header {
  background-color: white;
  width: 100%;
  font-family: Monofett;
  font-size: 2.5em;
}

h1 { margin: 0;}

header a {
  text-decoration: none;
  margin: 0;
  color: #007777;
}

navbar {
  color: white;
  background-color: black;
  float: right;
  text-align: right;
  width: 100%;
  padding: .4em;
  margin-bottom: 1em;
}

.nav-link {
  text-decoration: none;
  color: white;
}

.page-header {
  text-align: left;
  margin-left: 10%;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.question-display {
  border: 1px solid black;
  background-color: #fffbea;
  margin-top: 3.5em;
  margin-left: 10%;
  margin-right: 10%;
  width: auto;
  text-align: center;
}

.questions-container {
  background-color: #fffbea;
  text-align: left;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: .5em;
  padding: 15px;
  text-decoration: none;
  /*border: 1px solid black;*/
}

.questions-container a {color: black;}
.questions-container a:hover {color: red;}

.button {
  border: 1px solid black;
  background-color: orange;
  border-radius: 8px;
  padding: .5em;
  font-size: 1em;
  font-weight: bolder;
}

.buttons {
  display: inline-block;
  margin-left: 40%;
  margin-right: 40%;
  padding: 1em;
}

form.button_to {
  display: inline;
}

.vote-buttons{
  display: inline-block;
  padding: .5em;
}

.new_vote {
  display: inline-block;
  }

.data-display-container {
  display: inline-block;
  /*border: 1px solid black;*/
  float: left;
}

.vote {
  border: 1px solid black;
  padding: 1em;
  height: 2em;
  width: 2em;
}
.answer {
  border: 1px solid black;
  padding: 1em;
  height: 2em;
  width: 2em;

}

.answers{
  border: 3px solid black;
}

.comments {
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
/*  padding: 1.5em;
*/}

.create-answer{
  margin-top: 5em;
  padding: 1em;
  border: 3px solid black;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

#answer_content {
  width: 100%;
  height: 20em;
}

.login-container {
  border: 3px solid black;
  background-color: #fffbea;
  padding: 1em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.user-notice {
  text-align: left;
  padding: 1em;
  margin-top: 1.2em;
}

.user-data-container {
  border: 3px solid black;
  background-color: #fffbea;
  padding: 1em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.user-data-container a { color: black;}
.user-data-container a:hover { color: yellow;}

.new-question-container {
  border: 3px solid black;
  background-color: #fffbea;
  padding: 1em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 3em;
  text-align: center;
}

.alert {
  background-color: red;
  font-size: 2em;
  padding: .5em;
  list-style: none;
}

.tag {
  background-color: #ff7256;
  position: relative;
  display: inline-block;
  margin-bottom: .2em;
  text-decoration: none;
  color: black;
  /*border: 3px solid black;*/
  padding: 1em;
  /*border-radius: 5px;*/
}

.tag:hover { color: yellow; }


.tags-container {
  /*display: inline-block;*/
  float: left;
  /*text-align: left;*/
  padding: .8em;
  /*margin-left: 10%;*/
  /*margin-right: 10%;*/
  margin-bottom: .5em;
}

.answers-container {
  text-align: left;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: .5em;
  padding: 15px;
  text-decoration: none;
}

.answer-button {float: left; margin-left: 10%;}

.response { background-color: #fffbea; padding: .7em; }
.response a { color: black; }
.response a:hover { color: red; }

.edit-buttons { padding: .5em; }

#new_comment {
  border: 1px solid black;
  margin-right: 10%;
  margin-left: 10%;
  padding: .7em;
}

p.vote {
  background-color: gray;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  width: auto;
}

p.answer {
  background-color: gray;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  width: auto;

}
.dates {
  float: left;
  text-align: left;
  font-size: .7em;
  color: gray;
  /*border: 1px solid black;*/
  /*display: block;*/
}

.question-summary {
  /*border-bottom: 1px solid gray;*/
  width: auto;
  height: -1em;
  border-bottom: 1px solid black;
}

.summary {
  display: inline-block;
  padding: .5em;
  clear: left;
}

.index-text {
  /*text-align: right;*/
  /*border: 1px solid black;*/
  display: inline-block;
}

.layout-links {
  text-align: right;
}

.nav-link {
  margin-top: 3em;
  color: black;
  background-color: lightgray;
  padding: 8px;
}

.nav-link:hover {background-color: orange;}

.question-link {
  display: inline-block;
  float: left;
  text-align: left;
  margin-top: .1em;
  margin-bottom: .1em;
}

.profile-link {
  text-decoration: none;
  color: white;
}

.container {display: inline-block;}

.question-text {text-align: left; padding: 1em;}
