/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: white;
  font-family: Lato;
}

header {
  background-color: gray;
  width: 100%;
  font-family: Monofett;
  font-size: 2em;
}

h1 { margin: 0;}

header a {
  text-decoration: none;
  margin: 0;
  color: #006666;
}

navbar {
  color: white;
  background-color: black;
  float: right;
  text-align: right;
  width: 100%;
  padding: .4em;
}

.page-header {
  text-align: left;
  margin-left: 15%;
  /*padding: 1em;*/
  margin-top: 1.5em;
  margin-bottom: 1em;
}


.question {

  border: 5px solid black;
  background-color: lightblue;
  margin-top: 5em;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 5em;
  width: auto;
  text-align: center;
}

.questions-container {
  background-color: #fffbea;
  text-align: left;
  margin-right: 15%;
  margin-left: 15%;
  margin-bottom: .5em;
  padding: 15px;
  text-decoration: none;
  border: 1px solid black;
}

.questions-container a {color: black;}
.questions-container a:hover {color: red;}

/*form.button_to {
  margin: 0;
  display: inline-block;
  width: auto;
  background-color: lightblue;
  border: 3px solid black;
  text-align: center;
  padding: .3em;
}*/

.button {
  border: 1px solid black;
  background-color: orange;
  border-radius: 8px;
  padding: .5em;
  font-size: 1em;
  font-weight: bolder;
}

.buttons {
  display: inline-block;
  margin-left: 40%;
  margin-right: 40%;
  /*border: 3px solid black;*/
  padding: 1em;
}

form.button_to{
  display: inline;
}

.vote-buttons{
  display: inline-block;
}

.answers{
  border: 3px solid black;
}

.comments {
  border: 3px solid black;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: .2em;
}

.create-answer{
  margin-top: 5em;
  padding: 1em;
  border: 3px solid black;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

#answer_content {
  width: 100%;
  height: 20em;
}

.login-container {
  border: 3px solid black;
  padding: 1em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.user-notice {
  text-align: center;
  padding: 1em;
  margin-top: 2em;
}

.user-data-container{
  border: 3px solid black;
  background-color: #fffbea;
  padding: 1em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.user-data-container a { color: black;}
.user-data-container a:hover { color: red;}

.new-question-container{
  border: 3px solid black;
  background-color: #fffbea;
  padding: 1em;
  margin-top: 2em;
  margin-left: 30%;
  margin-right: 30%;
  text-align: center;
}

.alert {
  background-color: red;
  font-size: 2em;
  padding: .5em;
  list-style: none;
}

.tag {
  text-decoration: none;
  color: black;
  border: 3px solid black;
  padding: 1em;
  border-radius: 5px;
}

.tag:hover {color: red;}


.tags-container {
  display: inline-block;
  text-align: left;
  padding: 1em;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: .5em;
}
