/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: orange;
  font-family: Lato;
/*  font-family: Monofett;
*/}

header {
  background-color: gray;
  width: 100%;
}

h1 { margin: 0;}

header a { text-decoration: none; padding: 10px; }

navbar {
  color: white;
  background-color: black;
  float: right;
  text-align: right;
  width: 100%;
  padding: .4em;
}

.page-header { margin-right: 30%; margin-left: 30%;}

.tags-container {
  background-color: lightblue;
  border: 3px solid black;
  text-align: center;
  margin-right: 40%;
  margin-left: 40%;
  margin-bottom: .5em;
}

.question {

  border: 5px solid black;
  background-color: lightblue;
  margin-top: 5em;
  margin-left: 30%;
  margin-right: 30%;
  padding-top, bottom: 5em;
  width: auto;
  text-align: center;
}

.questions-container {
  text-align: right;
  margin-right: 30%;
  margin-left: 30%;
  margin-bottom: .5em;
  padding: 15px;
  text-decoration: none;
  border: 3px solid black;
}


.button_to {
  display: inline-block;
  background-color: lightblue;
  border: 3px solid black;
  text-align: center;
  padding: .3em;
}

.inputbutton {
  background-color: red;
}

.vote-buttons{
  display: inline-block;
}

.answers{
  border: 3px solid black;
}

.comments {
  border: 3px solid black;
}

.create-answer{
  margin-top: 5em;
  padding: 1em;
  border: 3px solid black;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
}

#answer_content {
  width: 100%;
  height: 20em;
}
